<h2>Rediger bruker</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name, 'Fornavn' %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name, 'Etternavn' %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email, 'Epost' %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :telephone, 'Telefonnummer' %>
    <%= f.text_field :telephone %>
  </div>

  <%# <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %1> %>
    <%#   <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %1></div> %>
    <%# <% end %1> %>

  <div class="field">
    <%= f.label :password, 'Nytt passord' %> <i>(ikke skriv noe om du ikke ønsker å bytte passord)</i>
    <% if @minimum_password_length %>
      <em>minst <%= @minimum_password_length %> tegn</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Bekreft nytt passord' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password, 'Nåværende passord' %> <i>(skriv inn ditt nåværende passord)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :location, 'Adresse' %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.hidden_field :place_id %>
  </div>

  <div class="actions">
    <%= f.submit "Lagre", class: 'btn' %>
  </div>
<% end %>

<div class="delete-account">
  <h3>Misfornøyd?</h3>

  <p>Ønsker du å slette din konto? <%= button_to "Slett konto", registration_path(resource_name), data: { confirm: "Er du sikker?" }, method: :delete, class: 'btn red' %></p>
</div>
