<h1>Endre annonse</h1>

<%= form_for @listing, url: {action: :update} do |f| %>
  <% if @listing.errors.messages.length > 0 %>
    <div class="errors">
      <% @listing.errors.messages.each do |key, value| %>
        <% value.each do |message| %>
          <span class='error'><%= h key %> <%= h message %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :description %>
  <%= f.text_area :description, class: 'materialize-textarea' %>

  <%= f.submit 'Endre annonse', class: 'btn' %>
<% end %>
