<h1>Lag en ny annonse</h1>

<%= form_for @listing, url: {action: :create} do |f| %>
  <% if @listing.errors.messages.length > 0 %>
    <div class="errors">
      <%= raw concat_errors @listing.errors.messages %>
    </div>
  <% end %>
  <%= f.label :title, 'Tittel' %>
  <%= f.text_field :title, autofocus: true %>

  <%= f.label :price, 'Pris' %>
  <%= f.number_field :price, min: 0, max: 1000000 %>

  <%= f.label :description, 'Beskrivelse' %>
  <%= f.text_area :description, class: 'materialize-textarea', placeholder:
      'Skriv gjerne litt om produktet, jo mer du skriver jo større sannsynlighet er det for at noen finner produktet ditt.' %>

  <div class="file-field input-field">
    <div class="btn">
      <span>Bilder</span>
      <%= f.file_field :listingimages, multiple: true %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Last opp et eller fler bilder">
    </div>
  </div>

  <%= f.submit 'Opprett annonse', class: 'btn' %>
<% end %>
