<h1><%= @listing.title %></h1>
<div class="chip"><%= @listing.price %>NOK</div>
<p class="small">Opprettet av: <%= link_to full_name(@listing.user), profile_path(id: @listing.user.id) %></p>
<p class="small">Sted: <%= @listing.location %></p>

<h4>Beskrivelse</h4>

<p><%= @listing.description %></p>

<% if @listing.user == current_user %>
  <hr>
  <%= link_to "Slett annonse", listing_path(@listing),
    method: :delete, class: "btn red darken-4" %>
  <%= link_to "Endre annonse", edit_listing_path(@listing), class: 'btn' %>
<% end %>
