<div id="imagemodal" class="modal">
  <div class="modal-content">
  </div>
</div>

<div class="row listing-detail">
  <div class="col s12 m8">
    <h2 class='listing-title'><%= @listing.title %></h2>
    <p class='listing-name'>av <%= link_to full_name(@listing.user), profile_path(id: @listing.user.id) %></p>
    <div class="chip"><%= @listing.price %> kr</div>
    <p>
    <%= @listing.description %>
    </p>
    <strong>Kontaktinformasjon</strong>
    <br>
    <div class='listing-contactinfo'>
      <div><i class="material-icons">email</i> <%= @listing.user.email %></div>
      <div><i class="material-icons">phone</i> TODO: Add telephone number to user model</div>
    </div>
    <%= render partial: 'shared/map', locals: { place_id: @listing.user.place_id } %>
  </div>
  <div class="listing-images col s12 m4">
    <% if @listing.listingimages.any? %>
      <div class="card-panel">
        <% @listing.listingimages.each do |image| %>
          <%= image_tag image.url, class: 'listingimage responsive-img hoverable' %>
        <% end %>
      </div>
    <% end %>
</div>
