<!DOCTYPE html>
<html lang='no'>
  <head>
    <title>Leiestedet</title>
    <%= csrf_meta_tags %>

    <meta charset='utf-8'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper container">
        <a class="brand-logo" href="<%= root_path %>">Leiestedet</a>
        <ul class="nav-mobile right hide-on-med-and-down">
          <li><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
