<!DOCTYPE html>
<html lang='no'>
  <head>
    <title>Leiestedet</title>
    <%= csrf_meta_tags %>

    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GMAPS_API_KEY"] %>&libraries=places&callback=initMap" async defer></script>
    <%= favicon_link_tag %>
  </head>

  <body>
    <% if controller_name != 'static_page' %>
      <div class="footer-compliant-body">
      <% end %>
      <div <% if controller_name == 'static_page' %>class='navbar-fixed'<% end %>>
        <%= render partial: 'shared/navigation' %>
      </div>

      <% if controller_name != 'static_page' %>
        <div class="footer-compliant-body">
          <div class="container flex-container">
          <% end %>

          <%= yield %>

          <% if controller_name != 'static_page' %>
            </div>
          <% end %>

          <%= render partial: 'shared/footer' %>
          <% if controller_name != 'static_page' %>
          </div>
        <% end %>

        <script>
<% flash.each do |key, value| %>
  Materialize.toast("<%= value %>", 3000);
<% end %>
        </script>
  </body>
</html>
