<!DOCTYPE html>
<html lang='no'>
  <head>
    <title>Leiestedet</title>
    <%= csrf_meta_tags %>

    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper container">
          <a class="brand-logo" href="<%= root_path %>">Leiestedet</a>

          <%# dropdown structure for the logged in user %>
          <ul id="dropdown-user-logged-in" class="dropdown-content">
            <li><%= link_to 'Profil', profile_path %></li>
            <li><%= link_to 'Logg ut', destroy_user_session_path, method: :delete %></li>
          </ul>

          <%# desktop navigation %>
          <ul class="right hide-on-med-and-down">
            <li><%= link_to 'Om oss', about_path %></li>
            <li><%= link_to 'Annonser', listing_index_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'Ny annonse', new_listing_path %></li>
              <li><a class="dropdown-button" data-activates="dropdown-user-logged-in"><%= current_user.first_name %><i class="material-icons right">arrow_drop_down</i></a></li>
            <% else %>
              <li><%= link_to 'Logg inn', new_user_session_path %></li>
              <li><%= link_to 'Registrer deg', new_user_registration_path %></li>
            <% end %>
          </ul>

          <%# mobile navigation %>
          <ul id="nav-mobile" class="side-nav">
            <li><%= link_to 'Om oss', about_path %></li>
            <li><%= link_to 'Annonser', listing_index_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'Ny annonse', new_listing_path %></li>
              <li><%= link_to 'Profil', profile_path %></li>
              <li><%= link_to 'Logg ut', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Logg inn', new_user_session_path %></li>
              <li><%= link_to 'Registrer deg', new_user_registration_path %></li>
            <% end %>
          </ul>

          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>

    <%= yield %>

    <script>
<% flash.each do |key, value| %>
  Materialize.toast("<%= value %>", 3000);
<% end %>
    </script>
  </body>
</html>
